---
import Navigation from "./Navigation.astro"
import Hambuerger from "./Hambuerger.astro"
import ThemeIcon from "./ThemeIcon.astro"
---
<header> 
  <nav> 
    <Hambuerger />
    <ThemeIcon />
    <Navigation />
   </nav>
</header>
